html, body {
  height: 100%;
}

.angular-google-map-container, .angular-google-map {
  height: 100%;
}

.menu-item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.menu-container {
  height: 8vh;
}
